language: node_js
sudo: false
node_js:
  - node
  - 6
  - 7
services:
  - postgresql


env:
  LB_DB_HOST=localhost
  LB_DB_USER=postgres
  LB_DB_PASS=12345
  LB_DB_PORT=5432
  LB_DB_NAME=lindat-billing-test
  INPUT_LOGS_PATH=public\logs
  SECRETS_FILE_PATH=.
  RESET_LOGS=FALSE
  ACCESS_LOG_ONLY=TRUE
  BASE_HREF=/
  TRAVIS=TRUE

before_install:
  - psql -c 'create database "lindat-billing-test";' -U postgres
  - ./database-setup.sh

install:
  - npm install
  - npm run compile
  - npm run lint || true

script:
  - npm test

