<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome to <%= title %><br>
      To list all activity of the user with IP 195.113.20.155, add <i>"/195.113.20.155"</i> to the URL.
    </p>
  </body>
</html>