<nav-bar></nav-bar>
<hr>
<div class="row">
    <div class="col-md-2">
        <div *ngIf="isAdmin">
            <admin-info></admin-info>
        </div>
        <div *ngIf="!isAdmin">
            <account-info></account-info>
        </div>
    </div>
    <div class="col-md-10">
        <div *ngIf="isAdmin">
            <div class="data-list">
                <div *ngFor="let login of data | slice:0:10">
                    <div class = "search-result">
                        {{login.username}} logged in at {{login.datetime | date: 'H:mm on d-M-yyyy'}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isAdmin">
            <h2>
                Welcome to Lindat Billing, {{username}}!
            </h2>
            <h3>
                Your last logins
            </h3>
            <div *ngFor="let login of data | slice:0:10">
                <div class = "search-result">
                    Logged in at {{login.datetime | date: 'H:mm on d-M-yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>