<nav-bar></nav-bar>
<h1>
    Welcome to Lindat Billing!
</h1>
<hr>
<div class="row">
    <div class="col-md-2">
        <div *ngIf="isAdmin">
            <admin-info></admin-info>
        </div>
        <div *ngIf="!isAdmin">
            <account-info></account-info>
        </div>
    </div>
    <div class="col-md-10">
        <div class="data-list">
            <div *ngFor="let login of data | slice:0:10">
                <div class = "search-result">
                    {{login.username}} logged in at {{login.datetime | date: 'H:mm on d-M-yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>