<nav-bar></nav-bar>
<div class="row">
    <div class="col-md-2">
        <div *ngIf="isAdmin">
            <admin-info></admin-info>
        </div>
        <div *ngIf="!isAdmin">
            <account-info></account-info>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <div class="headline"> Service </div>
            </div>
            <div class="col-md-3">
                <div class="headline"> Price per unit </div>
            </div>
            <div class="col-md-3">
                <div class="headline">   Unit   </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <div class="data-list">
                    <div *ngFor="let item of data">
                        <div class="service-name">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="data-list">
                    <div *ngFor="let item of data">
                        <span class="input-group">
                            <div class="service-price">
                                {{item.value}}
                            </div>
                            <div *ngIf="isAdmin" class="input-group-btn">
                                <button class="btn btn-secondary" type="button" (click)="increasePrice(item)">+</button>
                                <button class="btn btn-secondary" type="button" (click)="decreasePrice(item)">-</button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="data-list">
                    <div *ngFor="let item of sizes">
                        <span class="input-group">
                            <div class="service-unit">
                                {{item.unit}}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>