<form #myForm="ngForm" novalidate>
    <my-date-range-picker
            name="mydaterange"
            [options]="myDateRangePickerOptions"
            (dateRangeChanged)="onDateRangeChanged($event)"
            (inputFieldChanged)="onInputFieldChanged($event)"
            (calendarViewChanged)="onCalendarViewChanged($event)"
            (dateSelected)="onDateSelected($event)"
            [selDateRange]="selectedRange"
            [placeholder]="placeholderTxt"
            [(ngModel)]="selectedRange" required></my-date-range-picker>
</form>