<div class="info-box">
    <p><b>Account overview</b></p>
    <p>{{username}}</p>
    <div class="data-list">
        <p>Registered IPs</p>
        <ul *ngFor="let ip of data">
            <div class="ip-list-item">
                {{ip.ip}}
            </div>
        </ul>
    </div>
    <p>Registered tokens</p>
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-default btn-block" (click)="addNewIP()">Add</button>
        <button type="button" class="btn btn-default btn-block" (click)="report()">Report</button>
        <button type="button" class="btn btn-default btn-block" (click)="logout()">Logout</button>
    </div>
</div>
