<nav-bar></nav-bar>
<div class="row">
    <div class="col-md-2">
        <div *ngIf="isAdmin">
            <admin-info></admin-info>
        </div>
        <div *ngIf="!isAdmin">
            <account-info></account-info>
        </div>
    </div>
    <div *ngIf="isAdmin">
        <div class="col-md-10">
            <div class="data-list">
                <div *ngFor="let user of data">
                    <div class="col-md-10">
                        <div class = "search-result" (click)="expand(user)">
                            {{user.name}}
                        </div>
                        <div *ngIf="user.expanded">
                            <ul *ngFor="let item of user.ips" class="search-result-detail">
                                {{item}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAdmin">
        <div class="row">
            <div class="col-md-2">
                <!--<button type="button" class="btn btn-default btn-block" (click)="addNewIP()">Add new IP</button>-->
                <button type="button" class="btn btn-default btn-block" (click)="reportIP()">Report an IP</button>
                <button type="button" class="btn btn-default btn-block" (click)="changePassword()">Change Password</button>
            </div>
            <div class="col-md-2">
                <!--<input type="text" [(ngModel)]="ipToAdd" name="ipToAdd" class="form-control" placeholder="IP Address">-->
                <input type="text" [(ngModel)]="xyz" name="xyz" class="form-control" placeholder="a dropdown menu">
            </div>
        </div>
    </div>
</div>