.search-result {
    border: 1px solid gray;
    /*width:195px;
    height: 16px;*/
    padding: 5px;
    background-color: white;
    cursor: pointer;
    margin: 3px;
}
.search-result:hover {
    color: #eee;
    background-color: #607D8B;
}
.search-result-detail {
    border: 1px solid gray;
    padding: 5px;
    background-color: white;
    cursor: text;
    margin: 3px;
}