<nav-bar></nav-bar>
<p>
    To run a few samples click on the following buttons:
    <button (click)="test('63.143.42.242','13-5-2015', '13-6-2017')">Sample 1</button>
    <button (click)="test('12.34.56.789','13-5-2015', '13-6-2017')">Error IP</button>
</p>
<hr>
<div class="row">
    <div class="col-md-2">
        <div *ngIf="isAdmin">
            <admin-info></admin-info>
        </div>
        <div *ngIf="!isAdmin">
            <account-info></account-info>
        </div>
    </div>

    <div class="col-md-10">
        <form class="row">
            <div class="col-md-6">
                <span class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="searchUser()">Search</button>
                    </span>
                    <input *ngIf="isAdmin" type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Display User">
                    <input *ngIf="!isAdmin" type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Display User">
                    <form #myForm="ngForm" novalidate>
                        <my-date-range-picker
                                name="mydaterange"
                                [options]="myDateRangePickerOptions"
                                (dateRangeChanged)="onDateRangeChanged($event)"
                                [placeholder]="placeholderTxt"
                                [(ngModel)]="model" required>
                        </my-date-range-picker>
                    </form>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="lastPeriod('month')">Last&nbsp;month</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="lastPeriod('week')">Last&nbsp;week</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="lastPeriod('day')">Last&nbsp;day</button>
                    </span>
                </span>
            </div>
        </form>
        <hr>
        <div *ngIf="totalSum > 0">
            <div class="col-md-10">
                <div class="total-sum">
                    Total sum to be paid for the period is {{ totalSum }}
                </div>
            </div>
        </div>
        <br>
        <div class="data-list">
            <div *ngFor="let service of data">
                <div *ngIf="service.total > 0">
                    <div class="col-md-10">
                        <div class = "search-result" (click)="expand(service)">
                            {{service.name}} (total of {{service.total}} requests) TOTAL: {{service.total * service.price}}
                        </div>
                        <div *ngIf="service.expanded">
                            <ul *ngFor="let data of service.logData">
                                <div class="search-result-detail">
                                    {{data.datetime}} {{data.request}}
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>