<p>
    To run a few samples click on the following buttons:
    <button (click)="test('195.113.20.155','13-5-2015', '13-6-2017')">Sample 1</button>
    <button (click)="test('91.234.162.125','13-5-2015', '13-6-2017')">Sample 2</button>
    <button (click)="test('undefined','13-5-2015', '13-6-2017')">Error IP</button>
</p>
<hr>
<form class="row" (submit)="searchUser($event)">
    <div class="form-group">
        <div class="col-md-6">
            <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Display User">
        </div>
        <div class="col-md-3">
            <form #myForm="ngForm" novalidate>
                <my-date-range-picker
                        name="mydaterange"
                        [options]="myDateRangePickerOptions"
                        (dateRangeChanged)="onDateRangeChanged($event)"
                        [placeholder]="placeholderTxt"
                        [(ngModel)]="model" required>
                </my-date-range-picker>
            </form>
        </div>
        <div class="col-md-2">
            <button (click)="onClickMe()">Search</button>
        </div>
    </div>
</form>
<hr>
<span ng-show="errorMessage">{{errorMessage}}</span>
<div class="data-list">
    <div *ngFor="let log of data">
        <div class="col-md-12">
            <div class = "search-result">{{log.request}}</div>
        </div>
    </div>
</div>