<form class="well" (submit)="searchUser($event)">
    <div class="form-group">
        <div class="col-md-8">
            <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Display User">
        </div>
        <my-date-range-picker name="mydaterange" [options]="options" [(ngModel)]="model" required></my-date-range-picker>
    </div>
</form>
<span ng-show="errorMessage">{{errorMessage}}</span>
<div class="data-list">
    <div *ngFor="let log of data">
        <div class="col-md-12">
            {{log.request}}
        </div>
    </div>
</div>